.allReadings {
  background-color: white;    
  color: #282c34;  
  left: 0;
  width: 100%;  
}

.readingDate {
    background-color: #75BCFF;
    width: 300px;
    height: 120px;
    margin: 20px;
}

.date {
  background-color: #add3f7;
  width: 300px;
  text-align: left;
  font-weight: bold;
}

fieldset{
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: flex-start;
}
