.appHeader {
    background-color: #282c34;
    min-height: 10vh;
    max-height: 20vh;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

.appName {
    margin-left: 20px;  
    color: #75BCFF;
    font-size: calc(10px + 2vmin);
}
  
.appLogo {
    margin-left: 20px;
    height: 15vh;
    pointer-events: none;
} 
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  