.footer {
    background-color: #75BCFF;
    min-height: 10vh;
    max-height: 20vh;
    color: #282c34;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;

  }